# occurrence_prep.ipynb

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../test.csv', sep='|')
df

,X,Y,Notes,Source,State,Year,Date,Country
0,129.427600,28.326100,data from Madoka,?,Amami,1991,1991-01-01,Japan
1,128.100000,-3.620000,Aboina Island in Catley,Catley,Ambon Island,1800,1800-01-01,Indonesia
2,79.739987,15.912900,NaN,Pallipparambil,Andhra Pradesh,1800,1800-01-01,India
3,94.727753,28.217999,NaN,Pallipparambil,Arunachal Pradesh,1800,1800-01-01,India
4,92.937574,26.200604,NaN,Pallipparambil,Assam,1800,1800-01-01,India
...,...,...,...,...,...,...,...,...
75,108.277199,14.058324,NaN,ISSG,NaN,1800,1800-01-01,Vietnam
76,166.218900,-22.014400,https://www.ippc.int/en/countries/new-caledoni...,Moore,NaN,2019,2019-01-01,New Caledonia
77,171.244400,7.055800,NaN,Moore,Majuro,2023,2023-09-01,Republic of the Marshall Islands
78,-159.338900,21.876100,NaN,Moore,Kauai,2023,2023-05-01,Hawaii
79,-155.792700,19.941400,NaN,Moore,Hawaii (Big Island),2023,2023-10-11,Hawaii

In [3]:
df.columns

Index(['X', 'Y', 'Notes', 'Source', 'State', 'Year', 'Date', 'Country'], dtype='object')

In [4]:
# rename columns
df.columns = ['decimalLongitude', 'decimalLatitude', 'Notes', 'Source', 'stateProvince', 'Year','eventDate', 'country']
df

,decimalLongitude,decimalLatitude,Notes,Source,stateProvince,Year,eventDate,country
0,129.427600,28.326100,data from Madoka,?,Amami,1991,1991-01-01,Japan
1,128.100000,-3.620000,Aboina Island in Catley,Catley,Ambon Island,1800,1800-01-01,Indonesia
2,79.739987,15.912900,NaN,Pallipparambil,Andhra Pradesh,1800,1800-01-01,India
3,94.727753,28.217999,NaN,Pallipparambil,Arunachal Pradesh,1800,1800-01-01,India
4,92.937574,26.200604,NaN,Pallipparambil,Assam,1800,1800-01-01,India
...,...,...,...,...,...,...,...,...
75,108.277199,14.058324,NaN,ISSG,NaN,1800,1800-01-01,Vietnam
76,166.218900,-22.014400,https://www.ippc.int/en/countries/new-caledoni...,Moore,NaN,2019,2019-01-01,New Caledonia
77,171.244400,7.055800,NaN,Moore,Majuro,2023,2023-09-01,Republic of the Marshall Islands
78,-159.338900,21.876100,NaN,Moore,Kauai,2023,2023-05-01,Hawaii
79,-155.792700,19.941400,NaN,Moore,Hawaii (Big Island),2023,2023-10-11,Hawaii

In [5]:
# Create new columns
df['id'] = df.index+1
df['islandGroup'] = ''
df['island'] = '' 
df['locality'] = '' 
df['coordinateUncertaintyInMeters'] = 1000
df['georeferenceRemarks'] = ''
df['occurrenceRemarks'] = ''
df

,decimalLongitude,decimalLatitude,Notes,Source,stateProvince,Year,eventDate,country,id,islandGroup,island,locality,coordinateUncertaintyInMeters,georeferenceRemarks,occurrenceRemarks
0,129.427600,28.326100,data from Madoka,?,Amami,1991,1991-01-01,Japan,1,,,,1000,,
1,128.100000,-3.620000,Aboina Island in Catley,Catley,Ambon Island,1800,1800-01-01,Indonesia,2,,,,1000,,
2,79.739987,15.912900,NaN,Pallipparambil,Andhra Pradesh,1800,1800-01-01,India,3,,,,1000,,
3,94.727753,28.217999,NaN,Pallipparambil,Arunachal Pradesh,1800,1800-01-01,India,4,,,,1000,,
4,92.937574,26.200604,NaN,Pallipparambil,Assam,1800,1800-01-01,India,5,,,,1000,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,108.277199,14.058324,NaN,ISSG,NaN,1800,1800-01-01,Vietnam,76,,,,1000,,
76,166.218900,-22.014400,https://www.ippc.int/en/countries/new-caledoni...,Moore,NaN,2019,2019-01-01,New Caledonia,77,,,,1000,,
77,171.244400,7.055800,NaN,Moore,Majuro,2023,2023-09-01,Republic of the Marshall Islands,78,,,,1000,,
78,-159.338900,21.876100,NaN,Moore,Kauai,2023,2023-05-01,Hawaii,79,,,,1000,,
79,-155.792700,19.941400,NaN,Moore,Hawaii (Big Island),2023,2023-10-11,Hawaii,80,,,,1000,,

In [6]:
df.columns

Index(['decimalLongitude', 'decimalLatitude', 'Notes', 'Source',
       'stateProvince', 'Year', 'eventDate', 'country', 'id', 'islandGroup',
       'island', 'locality', 'coordinateUncertaintyInMeters',
       'georeferenceRemarks', 'occurrenceRemarks'],
      dtype='object')

In [7]:
# Reorder columns
df = df.reindex(columns = ['id','eventDate','country','stateProvince','islandGroup','island','locality', 
                      'decimalLatitude','decimalLongitude','coordinateUncertaintyInMeters',
                      'georeferenceRemarks','occurrenceRemarks','Notes','Source'])
df

,id,eventDate,country,stateProvince,islandGroup,island,locality,decimalLatitude,decimalLongitude,coordinateUncertaintyInMeters,georeferenceRemarks,occurrenceRemarks,Notes,Source
0,1,1991-01-01,Japan,Amami,,,,28.326100,129.427600,1000,,,data from Madoka,?
1,2,1800-01-01,Indonesia,Ambon Island,,,,-3.620000,128.100000,1000,,,Aboina Island in Catley,Catley
2,3,1800-01-01,India,Andhra Pradesh,,,,15.912900,79.739987,1000,,,NaN,Pallipparambil
3,4,1800-01-01,India,Arunachal Pradesh,,,,28.217999,94.727753,1000,,,NaN,Pallipparambil
4,5,1800-01-01,India,Assam,,,,26.200604,92.937574,1000,,,NaN,Pallipparambil
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,76,1800-01-01,Vietnam,NaN,,,,14.058324,108.277199,1000,,,NaN,ISSG
76,77,2019-01-01,New Caledonia,NaN,,,,-22.014400,166.218900,1000,,,https://www.ippc.int/en/countries/new-caledoni...,Moore
77,78,2023-09-01,Republic of the Marshall Islands,Majuro,,,,7.055800,171.244400,1000,,,NaN,Moore
78,79,2023-05-01,Hawaii,Kauai,,,,21.876100,-159.338900,1000,,,NaN,Moore
79,80,2023-10-11,Hawaii,Hawaii (Big Island),,,,19.941400,-155.792700,1000,,,NaN,Moore

In [8]:
df.to_csv('../DwCA/occurrences_1.csv', sep='|', index=False)

In [9]:
!ls ../DwCA

eml.xml  meta.xml  occurrences_1.csv  occurrences.csv  references.csv